<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
  <h1>
    Angular Medellín
  </h1>
  <label for="">Branch 2:</label>
  <app-my-component></app-my-component>
  <label for="">Branch 3 and 4:</label><br/>
  <label>Count </label>{{count}}
  <button (click)="count = count + 1">
    <img [src]="imgSource" height="12px"> +1!</button><br/><br/>
  <label for="">Branch 5:</label><br/>
  <input type="text" name="name" value="" [disabled]="enabled">
  <button type="button" name="button" (click)="enabled = enabled ? false : true">Change input</button>
</div>
